.jumbotron {
  text-align: center;
  background-image: url("../img/beijing.jpeg");
  background-size: cover;
  height: 500px;
}

.panel h3{
  text-align: center;
}

div p {
  text-indent: 50px;
  padding: 10px;
}

div ul :last-child {
  color: red;
}
